body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  background:#121212;
    color: #eee;
}

.card {
    width: 350px;
    background-color: #242424;
    padding: 30px;
    border-radius: 15px;
    margin: 80px auto;
    box-shadow: 0 0 25px #6a0dad55; 
    text-align: center;
}

.card h2 {
    color: #d9b3ff;
}

input, textarea {
    width: 325px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #5c1b9b;
    background: #12001f;
    color: #eee;
    font-size: 14px;
}

input::placeholder, textarea::placeholder {
    color: #b98ee3;
}

button {
    padding: 8px 14px;
    border-radius: 8px;
    background: linear-gradient(90deg, #6a0dad, #9b4dff);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s;
    box-shadow: 0 0 12px #6a0dad77;
    margin-top: 5%;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #9b4dffa0;
}

.btn-edit, .btn-delete {
    padding: 6px 10px;
    font-size: 12px;
}

.btn-primary {
    padding: 8px 16px;
    font-size: 14px;
}

.btn-secondary {
    padding: 6px 12px;
    font-size: 13px;
}

.btn-logout {
    padding: 6px 12px;
    font-size: 13px;
    background: linear-gradient(90deg, #6a0dad, #9b4dff);    
    width: 172px;
    height: 40px;
    margin-top: 16px;
}

a {
    color: #c38aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-body {
    background-color: #0d0d0d;
    color: #d5b6ff;
    font-family: Arial, sans-serif;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #1a001f;
    color: #d5b6ff;
    box-shadow: 0 0 20px #6a0dad55;
}

.home-container {
    padding: 15px 20px;
}

.project-list {
    display: grid;
    gap: 15px;
    margin-top: 15px;
}

.project-card {
    background: #1a001f;
    color: #d5b6ff;
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid #9b4dff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card h3 {
    margin: 0;
    font-size: 15px;
}

.project-card p {
    margin: 0;
    font-size: 13px;
    color: #c9a7ff;
}

.project-card button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #1a001f;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    border: 2px solid #9b4dff;
    color: #d5b6ff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 500px) {
    .card, .modal-content {
        width: 90%;
    }
}
